{%extends 'base.html'%}
{%block content%}
{{ block.super}}
<div class="container-fluid">
    {% for image in my_image %}
    <div class="col-md-4">
        <a href="" class="" data-toggle="modal" data-target="#exampleModalCenter{{image.id}}"><img
                src="{{image.image.url}}" alt="wagwan" width="400px"></a>

        <div class="modal fade" id="exampleModalCenter{{image.id}}" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header row">
                        <div class="col-md-8">
                            <h3 class="modal-title" id="exampleModalLongTitle">{{image.imageName}}</h3>
                        </div>
                        <div class="col-md-4">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button></div>
                    </div>
                    <div class="modal-body">
                        <img src="{{image.image.url}}" alt="wagwan" width="500px">
                        <br><br>
                        <p> <span class="text-info"><strong>Location:</strong></span> {{image.imageLocation}}</p>
                        <p><span class="text-info"> <strong> Category:</strong></span> {{image.imageCategory}}</p>
                    </div>
                    <div class="modal-footer">
                        <div class="row">
                            <div class="col-md-8">
                                <input type="text" class="form-control input-md responsive"
                                    value="https://jesse-gallery.herokuapp.com/media/{{image.image}}" id="myInput">
                            </div>
                            <div class="col-md-2">
                                <button type="button" onclick="myFunction()" class="btn btn-primary">Copy</button>
                            </div>
                        </div><br>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% endfor %}
</div>

{% endblock %}