<link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
<div class="home">
{%extends 'base.html'%}

 
{%block content%}


 
<h1 class="text-center py-4" style="font-family: 'Indie Flower', cursive;"><a href={%url 'gallery' %}>See more</a></h1>
<!--Zoom effect-->
<div class="container">
    <br><br>
<br><br>
<div class="row">

    <div class="col-sm-6 col-xs-12">
        <div class="hovereffect">
            <img class="img-responsive" src= "../static/images/landscape4.jpg" alt="landscape" height="100px" width="100%">
            <div class="overlay">
               <h2>Hover effect 3</h2>
               <a class="info" >Just-Home</a>
            </div>
        </div>
    </div>
        <div class="col-sm-6 col-xs-12">
        <div class="hovereffect">
            <img class="img-responsive" src= "../static/images/landscape3.jpg" alt="landscape" height="100px" width="100%">
            <div class="overlay">
               <h2>Hover effect 3</h2>
               <a class="info" >Just-Home</a>
            </div>
        </div>
    </div>
    


</div>
</div>
</div>
{{ block.super}}
{% endblock %}

